<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kramar - Pocetna stranica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .btn-outline-light {
            width: 100px;
            /*    opacity: 0.8;
            font-weight:bold;*/
        }


        header {
            background: rgba(0, 0, 0, 0.7);
        }
        .navbar-expand-sm {
            background: rgba(0, 0, 0, 0.7);
        }

        .footer {
            background: rgba(0, 0, 0, 0.7);
        }

        .manImg {
            display: block;
            position: relative;
            top: 25px;
            left: 50px;
            height: 140px;
            width: 300px;
        }
        .navbar-brand{
            height:100%;
        }
    </style>

</head>

<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container">

                @*<div class="logo">

                    <a class="navbar-brand">
                        <span>
                            <img class="manImg" src="https://findforme.ba/uploads/2019/08/imaaaaaaaaaaaaaaaaaaaaaaaaaaageedit_3_4413737863.png"></img>
                        </span>
                    </a>

                </div>*@

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <button class="btn btn-outline-light" type="button" onclick="window.location='/Identity/Account/Login'">Login</button>
                        </li>


                    </ul>
                </div>

            </div>
        </nav>
        <a class="navbar-brand">
            <span>
            </span>
        </a>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="container" style="color:white;text-align:center">
            &copy; 2020 - Auto Salon  - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color:white">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
