@*@{
        ViewData["Title"] = "Home Page";
    }


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@{ ViewData["Title"] = "Home Page";
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
 Layout = "~/Views/Shared/_LayoutHome.cshtml"; }

<style>
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("https://storage.bljesak.info/image/241939/1280x880/kramar.jpg");
        margin: 0; /*        https: //scontent.ftzl2-1.fna.fbcdn.net/v/t1.0-9/29541542_1741761279224216_7753409244891709440_o.jpg?_nc_cat=111&ccb=2&_nc_sid=e3f864&_nc_ohc=Cj4_f3380VIAX_5c8lj&_nc_ht=scontent.ftzl2-1.fna&oh=9c0e2bb87a95d618829ec8b1083bc246&oe=5FF96A6B
    */
    }
    

    .backNesto {
        /*  position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        cursor: pointer;*/
    }

    .kontejner {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
    }

    .kontejner2 {
        display: flex;
        flex-flow: row;
        justify-content: right;
    }

    .login {
        width: 300px;
        /*height: 450px;*/
        background-color: white;
        justify-content: right;
        margin-right: 50px;
    }

    .login2 {
        width: 300px;
        height: 370px;
        background-color: white;
        position: absolute;
        right: 5%;
        border-radius: 10px;
        display: none;
    }


    /*.left {
        display: flex;
        flex-flow: row;*/
    /*width: 80%;*/
    /*height: 65vh;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
    }*/

    .leftdiv {
        width: 100%;
        border-radius: 20px;
        color: white;
        padding: 10px;
    }


    .rightdiv {
        width: 50%;
        height: 50vh;
        border-radius: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        color: white;
    }

   /* .leftdiv p {
        opacity: 100%;
    }*/

    .leftdiv {
        background-color: rgba(0, 0, 0, 0.5);
        height: auto;
        margin-top: 10px;
        margin-bottom: 450px;
        margin-left: 50px;
        color: white;
    }
  /*  .manImg {
        display: block;
        position:absolute;
        top:100px;
        left:70px;
        height:140px;
        width:300px;
        
    }*/
</style>
@{ }
<div id="ajaxTabela" class="login2"></div>
<div class="kontejner2">
    <div id="ajaxTabela" class="login"></div>
</div>
<!--<header>-->
    

        @*<a class="navbar-brand">
            <span>
                <img class="manImg" src="https://findforme.ba/uploads/2019/08/imaaaaaaaaaaaaaaaaaaaaaaaaaaageedit_3_4413737863.png"></img>
            </span>
        </a>*@

    
<!--</header>-->


<div class="kontejner" onclick="ZatvoriDiv()">
    
    <div class="container">

        <div class="left">
            <div class="leftdiv">
               @*<h3 style="margin-bottom:40px;margin-top:10px; margin-left:35%;">Dobro dosli</h3>*@

                <p>
                    AS Kramar d.o.o. bavi se uvozom i prodajom rabljenih vozila iz Njemačke.
                    Sva vozila posjeduju certifikat o proizvođaču i servisnu evidenciju.
                    Pri kupovini vozila u Auto salonu Kramar dobivate pismenu garanciju 6 mjeseci na motor i mjenjač,
                    te doživotnu garanciju na porijeklo vozila i kilometre.
                    Logirajte se za pristup ili ako nemate racun pritisnite na dugme registracija.
                </p>
                <button class="btn btn-light" style="margin-left:40%;" onclick="window.location='/Identity/Account/Register'">Registracija</button>


            </div>




        </div>
    </div>


